// Define variables for your color scheme
// For example:
$red: #EE5F5B;
$blue: #469AE0;
$gray: #000000;
$light-gray: #F4F4F4;
$green: #3C8D01;
$green2: #48A506;
$yellow: #F2B708;
$orange: #F66000;
$teal: #00CFC2;
