<h1>Testing Items Index Page</h1>

<h3>What are you looking for?</h3>

<form action="">
  <input type="search for your sports item here">
  <input type="submit" value="Go!">
</form>

<ul>
  <% @items.each do |item| %>
    <li><%= item.name %></li>
  <% end %>
</ul>

