
.card{
  padding:0px!important;
  margin:1%;
  width:300px;
}
.card-image{
  height:200px;
  background-color:#333;
}
.card-footer{
  height:30px;
  display:none;
  background-color:$yellow!important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title{
  font-size:2rem;
  a{
    color:$green!important;
  }
}
.card-text{
  font-size:1.3em;
}
.flex-item p{
  margin-bottom:0px;
}
